/* Fira Sans */

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Roboto */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


.lazy-div {
  /* height: 50vh; */
  /* display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  font-size: 1.5em; */
}

/* 
  user styles
 */

.max-h-user {
  max-height: 1000px;
}
.min-w-logo {
  width: 300px;
}
.mt-100 {
  margin-top: 110%;
}

.transition-1 {
  transition: all 1s ease-out;
}

.main-title {
  font-family: 'Fira Sans';
}

pre {
  width: 100%;
}

.img-product {
  height: 300px;
  width: 300px;
}

textarea:focus,
input:focus {
  outline: none;
}
textarea,
input {
  border-radius: 0;
}
.form-text-alert {
  position: absolute;
  font-size: 0.7rem;
}
.menuItem {
  margin: 0px;
  padding: 0px;
}
.menuItemTitle {
  padding: 5px 0px 5px 25px;
}
.main-image-container-lg {
  min-height: 600px;
}
.main-image-container-sm {
  min-height: 200px;
}
.product-card {
  flex: 0 0 15%; /* explanation below */
  margin: 10px;
  min-width: 100px;
}

.y-metrika {
  width: 88px;
  height: 31px;
}
.trans-menu-item {
  transition: all 0.3s ease-in-out;
}


@tailwind base;
@tailwind components;
@tailwind utilities;
